{% extends 'blog/base.html' %}

{% block content %}
    <div class="container-narrow">
        <h1>Cancel booking</h1>
        <div class="card">
            <p>Are you sure you want to cancel your booking at <strong>{{ booking.hotel.title }}</strong> from <strong>{{ booking.check_in }}</strong> to <strong>{{ booking.check_out }}</strong>?</p>
            <form method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Cancel booking</button>
                <a href="{% url 'booking_detail' pk=booking.pk %}" class="btn btn-default">Back</a>
            </form>
        </div>
    </div>
{% endblock %}
