@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.otf')  format('opentype'),
    url('HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff') format('woff'),
    url('HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf')  format('truetype'),
    url('HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.otf')  format('opentype'),
    url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf')  format('truetype'),
    url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.otf')  format('opentype'),
    url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf')  format('truetype'),
    url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyrBold';
    src: url('HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot');
    src: url('HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
         url('HelveticaNeueCyrBold/HelveticaNeueCyrBold.woff2') format('woff2'),
         url('HelveticaNeueCyrBold/HelveticaNeueCyrBold.woff') format('woff'),
         url('HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf') format('truetype'),
         url('HelveticaNeueCyrBold/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold') format('svg');
}




@font-face {
    font-family: 'PlayfairDisplayBold';
    src: url('PlayfairDisplayBold/PlayfairDisplayBold.eot');
    src: url('PlayfairDisplayBold/PlayfairDisplayBold.eot') format('embedded-opentype'),
         url('PlayfairDisplayBold/PlayfairDisplayBold.woff2') format('woff2'),
         url('PlayfairDisplayBold/PlayfairDisplayBold.woff') format('woff'),
         url('PlayfairDisplayBold/PlayfairDisplayBold.ttf') format('truetype'),
         url('PlayfairDisplayBold/PlayfairDisplayBold.svg#PlayfairDisplayBold') format('svg');
}


@font-face {
  font-family: 'HelveticaNeue-Italic';
  src: url('HelveticaNeue-Italic/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),  
  url('HelveticaNeue-Italic/HelveticaNeue-Italic.woff') format('woff'), 
  url('HelveticaNeue-Italic/HelveticaNeue-Italic.ttf')  format('truetype'), 
  url('HelveticaNeue-Italic/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeue-UltraLightItal';
  src: url('HelveticaNeue-UltraLightItal/HelveticaNeue-UltraLightItal.eot?#iefix') format('embedded-opentype'),  
      url('HelveticaNeue-UltraLightItal/HelveticaNeue-UltraLightItal.otf')  format('opentype'),
      url('HelveticaNeue-UltraLightItal/HelveticaNeue-UltraLightItal.woff') format('woff'), 
      url('HelveticaNeue-UltraLightItal/HelveticaNeue-UltraLightItal.ttf')  format('truetype'), 
      url('HelveticaNeue-UltraLightItal/HelveticaNeue-UltraLightItal.svg#HelveticaNeue-UltraLightItal') format('svg');
  font-weight: normal;
  font-style: normal;
}


