@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: local('HelveticaNeueCyr-Light'),
         local('Helvetica Neue Light'),
         local('HelveticaNeue-Light'),
         local('Arial');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: local('HelveticaNeueCyr-Medium'),
         local('Helvetica Neue Medium'),
         local('HelveticaNeue-Medium'),
         local('Arial');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: local('HelveticaNeueCyr-Roman'),
         local('Helvetica Neue Roman'),
         local('HelveticaNeue-Roman'),
         local('Arial');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyrBold';
    src: local('HelveticaNeueCyrBold'),
         local('Helvetica Neue Bold'),
         local('HelveticaNeue-Bold'),
         local('Arial');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplayBold';
    src: local('PlayfairDisplayBold'),
         local('Playfair Display Bold'),
         local('Playfair Display');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-Italic';
  src: local('HelveticaNeue-Italic'),
       local('Helvetica Neue Italic'),
       local('HelveticaNeue-Italic'),
       local('Arial');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-UltraLightItal';
  src: local('HelveticaNeue-UltraLightItal'),
       local('Helvetica Neue UltraLight Italic'),
       local('Arial');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
