
<header class="hdr-wrap">
  <div class="hdr-top-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="hdr-top clearfix">
            <div class="hdr-top-lft">
              <div class="hdr-tels hide-xs">
                <span class="icon-circle ht-phn"><i class="fa fa-phone"></i></span>
                <a href="tel:(+996 312) 97 61 61">(+996 312) 97 61 61 </a>
                <a href="https://api.whatsapp.com/send?phone=996777976161">(+996 777) 97 61 61 </a>
              </div>
              <div class="ht-social clearfix">
           <a class="icon-circle" target="_new" href="https://www.facebook.com/smarthotelbishkek/"><i class="fa fa-facebook"></i></a>
           <a class="icon-circle" target="_new" href="https://www.instagram.com/smart_bishkek/"><i class="fa fa-instagram"></i></a>
              </div>
            </div>

            <div class="hdr-top-rgt" style="margin-top:0px;">
    <a href="/ru/rooms/"><button class="btn btn-danger">ЗАБРОНИРОВАТЬ</button></a>
      </div>
            <div class="hdr-top-rgt">
              <ul id="hdr-language" class="clearfix">
                <li class="menu-item-has-children">
                  <a href="/en/">EN</a>
                  <ul class="sub-menu">
                    <li><a href="/ru"> RU</a></li>
                    <li><a href="/en"> EN</a></li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .hdr-top-wrap -->
//
  <div class="hdr-btm">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="hdr-btm-inner clearfix">
              <h1 class="logo">
                <a href="index.html">
                  <img src="static/css/images/sitelogo.png">

                </a>
              </h1>
              <nav class="main-nav hide-sm">
                <ul>

      <li><a href="about.html">О НАС</a></li>
      <li><a href="rooms.html">НОМЕРА</a></li>
      <li><a href="aksii.html">АКЦИИ</a></li>
      <li><a href="uslugi.html">УСЛУГИ</a></li>
      <li><a href="konferensii.html">КОНФЕРЕНЦИИ</a></li>
      <li><a href="restoran.html">РЕСТОРАН</a></li>
      <li><a href="vakansii.html">ВАКАНСИИ</a></li>

                </ul>
              </nav>
              <div class="navtoggle">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div><!-- end of .hdr-btm -->

</header><!-- end of .hdr-wrap -->