<!DOCTYPE html>
{% load static %}
<html>
    {% include 'blog/head.html' %}

    <body>
    {% include 'blog/header.html' %}

    <div class="page-header">
        <div class="container">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'profile' %}" class="top-menu">{{ user.username }}</a>
                <a href="{% url 'booking_list' %}" class="top-menu">My bookings</a>
                <a href="{% url 'logout' %}?next={{ request.path }}" class="top-menu">Log out</a>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">Log in</a>
                <a href="{% url 'signup' %}" class="top-menu">Sign up</a>
            {% endif %}
        </div>
    </div>

    {% if messages %}
        <div class="container">
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <main class="main-content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% include 'blog/footer.html' %}
    {% include 'blog/script.html' %}

    </body>
</html>
