<!DOCTYPE html>
    <footer class="footer-wrp clearfix hide-xs wow fadeInUpShort">
   <div class="ftr-map-col">
     <div id="ftrMapID" data-marker="/images/marker.png" data-latitude="42.8797625" data-longitude="74.6113956" style="width:100%; height:565px"></div>
   </div>
   <div class="ftr-contact-col clearfix">
     <div class="clearfix">
     <div class="ftr-contact-lft">
       <h2>Контакты</h2>
       <div class="fc-row">
         <h5>Адрес:</h5>
         <p>Кыргызская Республика, г. Бишкек, <br>
          720040, ул Абдрахманова 204</p>
       </div>
       <div class="fc-row">
         <h5>Телефон:</h5>
         <div><a href="tel:+(996 312) 97 62 62">(+996 312) 97 61 61 </a></div>
         <div><a href="tel:+(996 777) 97 61 61">(+996 777) 97 61 61 </a></div>
       </div>
       <div class="fc-row">
         <h5>E-mail:</h5>
         <div><a href="mailto:hotel@smarthotel.kg">hotel@smarthotel.kg</a></div>
       </div>
       <div class="ftr-socail">
        <a class="icon-circle" target="_new" href="https://www.facebook.com/smarthotelbishkek/"><i class="fa fa-facebook"></i></a>
      <a class="icon-circle" target="_new" href="https://www.instagram.com/smart_bishkek"><i class="fa fa-instagram"></i></a>
       </div>
     </div>
     <div class="ftr-proposal-col">
<!-- modal  -->
<div class="modal fade" id="req_proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      <div class="modal-body">
        <form>
          <input type="text"  placeholder="Name">
          <input type="text"  placeholder="Phone">
          <input type="email"  placeholder="E-mail">
          <textarea placeholder="Text"></textarea>
          <input type="submit" value="SEND">
        </form>
      </div>
    </div>
  </div>
</div>





       <div class="ftrl-grp">
         <div class="group-logo"><a target="_new" href="http://holiday.kg"><img src="images/request-logo-1.png"></a></div>
         <div class="group-item"><a target="_new" href="http://cityhotel.kg"><span><img src="images/request-logo-2.png"></span></a></div>
         <div class="group-item"><a target="_new" href="http://smarthotel.kg"><span><img src="images/request-logo-3.png"></span></a></div>
         <div class="group-item"><a target="_new" href="http://cityestetic.kg"><span><img src="images/request-logo-4.png"></span></a></div>
       </div>
     </div>
    </div>
   <div class="copyright clearfix">
     <div class="copyright-text"><span style="font-size: 30px;">&reg;</span> Smart Hotel 2018<br />&copy; 2007-2018 Holiday Hotels Group</div>
     <div class="dev-by">Developed by <a href="#"><span>Colibri Studio</span></a></div>
   </div>

   </div>
</footer><!-- end of footer -->

<!-- Start xs footer -->
    <footer class="footer-wrp clearfix show-xs">
  <div class="ftr-contact-lft text-center">
     <h2>Контакты</h2>
     <div class="fc-row">
       <h5>Адрес:</h5>
       <p>Кыргызская Республика, г. Бишкек, <br>
        720003, ул Абдрахманова 204</p>
     </div>
     <div class="fc-row">
       <h5>Телефон:</h5>
       <div><a href="tel:(+996 312) 97 61 61">(+996 312) 97 61 61 </a></div>
       <div><a href="tel:(+996 777) 97 61 61">(+996 777) 97 61 61 </a></div>
     </div>
     <div class="fc-row">
       <h5>E-mail:</h5>
       <div><a href="mailto:hotel@smarthotel.kg">hotel@smarthotel.kg</a></div>
     </div>
     <div class="ftr-socail">
       <a class="icon-circle" target="_new" href="https://www.facebook.com/smarthotelbishkek/"><i class="fa fa-facebook"></i></a>
       <a class="icon-circle" target="_new" href="https://www.instagram.com/smart_bishkek/"><i class="fa fa-instagram"></i></a>
     </div>
  </div>
  <div class="ftr-proposal-col">
    <div class="ftrl-grp clearfix">
      <div class="group-logo"><a href="http://www.holiday.kg" target="_new"><img src="images/request-logo-1.png"></a></div>
      <div class="group-item"><a href="http://www.cityhotel.kg" target="_new"><span><img src="images/request-logo-2.png"></span></a></div>
      <div class="group-item"><a href="http://www.smarthotel.kg" target="_new"><span><img src="images/request-logo-3.png"></span></a></div>
      <div class="group-item"><a href="http://www.cityestetic.kg" target="_new"><span><img src="images/request-logo-4.png"></span></a></div>
    </div>
  </div>
   <div class="ftr-map-col">
     <div id="ftrMapIDXs" data-marker="images/marker.png" data-latitude="42.8797625" data-longitude="74.6113956"  style="width:100%; height:465px"></div>
   </div>
   <div class="copyright clearfix">
     <div class="copyright-text"><span style="font-size: 30px;">&reg;</span> Smart Hotel 2018<br /> &copy; 2007-2018 Holiday Hotels Group</div>
     <div class="dev-by">Developed by <a href="#"><span>Colibri Studio</span></a></div>
   </div>


</footer><!-- end of footer -->