{% load static %}
<footer class="footer-wrp clearfix">
  <div class="container">
    <div class="row" style="padding: 2rem 0;">
      <div class="col-sm-6">
        <h2>Contacts</h2>
        <p>Kyrgyz Republic, Bishkek, 720040<br>Abdrakhmanova st. 204</p>
        <p>
          <a href="tel:(+996 312) 97 61 61">(+996 312) 97 61 61</a><br>
          <a href="tel:(+996 777) 97 61 61">(+996 777) 97 61 61</a><br>
          <a href="mailto:hotel@smarthotel.kg">hotel@smarthotel.kg</a>
        </p>
        <p>
          <a class="icon-circle" target="_new" href="https://www.facebook.com/smarthotelbishkek/"><i class="fa fa-facebook"></i></a>
          <a class="icon-circle" target="_new" href="https://www.instagram.com/smart_bishkek/"><i class="fa fa-instagram"></i></a>
        </p>
      </div>
      <div class="col-sm-6">
        <div class="ftrl-grp" style="margin-top: 1rem;">
          <div class="group-logo"><a target="_new" href="http://holiday.kg"><img src="{% static 'images/request-logo-1.png' %}"></a></div>
          <div class="group-item"><a target="_new" href="http://cityhotel.kg"><span><img src="{% static 'images/request-logo-2.png' %}"></span></a></div>
          <div class="group-item"><a target="_new" href="http://smarthotel.kg"><span><img src="{% static 'images/request-logo-3.png' %}"></span></a></div>
          <div class="group-item"><a target="_new" href="http://cityestetic.kg"><span><img src="{% static 'images/request-logo-4.png' %}"></span></a></div>
        </div>
      </div>
    </div>
    <div class="copyright clearfix" style="border-top: 1px solid #e2e8f0; padding-top: 1rem;">
      <div class="copyright-text">&copy; Smart Hotel</div>
    </div>
  </div>
</footer><!-- end of footer -->
