.modal-design{
	margin: 100px 0px;
}
.modal-tiger-button button{
	margin-bottom: 10px;
	background-color: #377976;
	color: #fff;
}
.modal-tiger-button button:hover{
	color: #fff;
}



/**
popup page design
*/
.btn-primary{
	margin-bottom: 10px;
}
.modal-content{
	text-align: center;
}
.modal-dialog{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -100%)!important;
	-webkit-transform: translate(-50%, -100%)!important;
	transform: translate(-50%, -100%)!important;
}
.modal.in .modal-dialog{
	-ms-transform: translate(-50%, -50%)!important;
	-webkit-transform: translate(-50%, -50%)!important;
	transform: translate(-50%, -50%)!important;
}
.popup-wrp{
	padding-bottom: 190px;
	padding-top: 190px;
	text-align: center;
}


/*--  modal boxs ---*/
.modal-dialog{
	width: auto;
}
.modal-body{
	padding: 40px 45px;
	background: #ffffff;
	width: 383px;
	max-width: 100%;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	position: absolute;
	z-index: 9999;
	right: 19px;
	opacity: 1;
	top: 17px;
	font-size: 25px;
	line-height: 26px;
	color: #377976;
	outline: none;
}
button.close:hover{
	color: #1e4760;
	opacity: 1;
}
.modal-body form{
	text-align: left;
}

.modal-body input,
.modal-body textarea{
	border: 0;
	width: 100%;
	height: 37px;
	padding: 8px 13px;
	margin-bottom: 15px;
	font-size: 13px;
	line-height: 14px;
	color: #868686;
	outline: none;
	border: 1px solid #868686;
	font-family: 'HelveticaNeue-UltraLightItal';
}
.modal-body textarea{
	height: 124px;
	resize: none;
}
.modal-body input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeue-UltraLightItal'; 
}
.modal-body input::-moz-placeholder { /* Firefox 19+ */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeue-UltraLightItal'; 
}
.modal-body input:-ms-input-placeholder { /* IE 10+ */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeue-UltraLightItal';   
}
.modal-body input:-moz-placeholder { /* Firefox 18- */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeue-UltraLightItal'; 
}

.modal-body textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeue-UltraLightItal';  
}
.modal-body textarea::-moz-placeholder { /* Firefox 19+ */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeue-UltraLightItal'; 
}
.modal-body textarea:-ms-input-placeholder { /* IE 10+ */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeue-UltraLightItal';  
}
.modal-body textarea:-moz-placeholder { /* Firefox 18- */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeue-UltraLightItal';  
}



.modal-body form input[type="submit"]{
	background: #377976;
    font-family: 'HelveticaNeueCyr-Roman';
	color: #fff;
	font-size: 16px;
	line-height: 17px;
	border: 0;
	margin-top: 7px;
	margin-bottom: 0;
	height: 40px;
}


.modal-bx-title{
	display: block;
	text-transform: uppercase;
	color: #377976;
	margin-bottom: 27px;
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 16px;
    line-height: 17px;
}
.forgot-title{
	display: inline-block;
	vertical-align: baseline;
	color: #405d72;
	font-size: 14px;
	line-height: 15px;
	margin: 5px 0 0px;
}
.file-upload {
	margin: 5px 0px 22px;
}
.file-upload span{
	color: #969696;
	font-family: 'HelveticaNeue-UltraLightItal';
	font-size: 13px;
	line-height: 14px;
	display: inline-block;
	margin-left: 15px;
}
.file-upload button{
	width: 147px;
	height: 28px;
	border: 0;
	outline: none;
	background: #b3b3b3;
	color: #fff;
	font-family: 'HelveticaNeueCyr-Roman';
	font-size: 13px;
	line-height: 14px;
	display: inline-block;
	border-radius: 3px;
	float: right;
}
.file-upload input[type="file"]{
	display: none;
}

#barmen .modal-body{
	width: 570px;
	max-width: 100%;
	padding: 60px 55px;
	text-align: left;
	font-size: 15px;
	line-height: 19px;
	color: #666666;
	font-family: 'HelveticaNeueCyr-Light';
}
#barmen .modal-body ul{
	padding: 0;
	padding-left: 15px;
	margin-top: 15px;
	margin-bottom: 0px;
}
.modal-bx-title2{
	font-size: 21px;
	font-family: 'PlayfairDisplayBold';
	color: #333333;
	line-height: 22px;
	margin-bottom: 24px;
	display: block;
}

#msgbx1 .modal-body,
#msgbx2 .modal-body,
#msgbx3 .modal-body,
#msgbx4 .modal-body {
	padding: 60px 55px;
}
#msgbx1 .modal-body p,
#msgbx2 .modal-body p,
#msgbx3 .modal-body p,
#msgbx4 .modal-body p {
	font-size: 16px;
}
#msgbx1 .modal-body p small,
#msgbx2 .modal-body p small,
#msgbx3 .modal-body p small,
#msgbx4 .modal-body p small{
	font-size: 13px;
}
#msgbx4 .modal-bx-title{
	margin-bottom: 0px;
}
#reserved_tbl .modal-content{
	margin-top: 180px;
}
#reserved_tbl .modal-body{
	max-width: 1055px;
	width: 100%;
	padding: 60px 140px;
}



#reserved_tbl .modal-body-inner form input,
#reserved_tbl .modal-body-inner form select,
#reserved_tbl .modal-body-inner form textarea{
	max-width: 100%;
	border: 0;
	border: 1px solid #919191;
	outline: none;
}
#reserved_tbl .modal-body-inner form input[type="submit"]{
	margin-top: 30px;
}



#reserved_tbl .modal-bx-title{
	font-size: 30px;
	line-height: 32px;
	text-transform: none;
	font-family: 'PlayfairDisplayBold';
	margin-bottom: 35px;
}

#reserved_tbl .modal-body input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeueCyr-Light';
}
#reserved_tbl .modal-body input::-moz-placeholder { /* Firefox 19+ */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeueCyr-Light';
}
#reserved_tbl .modal-body input:-ms-input-placeholder { /* IE 10+ */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeueCyr-Light';  
}
#reserved_tbl .modal-body input:-moz-placeholder { /* Firefox 18- */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeueCyr-Light';
}

#reserved_tbl .modal-body textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeueCyr-Light'; 
}
#reserved_tbl .modal-body textarea::-moz-placeholder { /* Firefox 19+ */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeueCyr-Light'; 
}
#reserved_tbl .modal-body textarea:-ms-input-placeholder { /* IE 10+ */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeueCyr-Light';  
}
#reserved_tbl .modal-body textarea:-moz-placeholder { /* Firefox 18- */
  color: #969696;
  position: 1;
  font-family: 'HelveticaNeueCyr-Light';  
}

#reserved_tbl .modal-body textarea{
	height: 120px !important;
}

#reserved_tbl button.close{
	top: 30px !important;
	right: 30px !important;
}


@media(max-width: 1199px){
	#reserved_tbl .modal-body {
		padding: 40px 45px;
	}
	#reserved_tbl .modal-content {
		margin-top: 190px;
	}
}

/*----- max-width 767px -----*/
@media(max-width: 767px){
	.modal-dialog {

		margin: 0px !important;
	}
	.modal-body {
		padding: 30px 35px;
		width: 350px;
	}
	.modal-body input, 
	.modal-body textarea {
		height: 34px;
		padding: 6px 10px;
		margin-bottom: 10px;
	}
	.modal-body form input[type="submit"] {
		font-size: 14px;
		height: 34px;
	}
}


/*----- max-width 639 -----*/
@media(max-width: 639px){
	#barmen .modal-body {
		width: 450px;
		max-width: 100%;
		padding: 40px 35px;
	}
	#msgbx1 .modal-body, 
	#msgbx2 .modal-body, 
	#msgbx3 .modal-body, 
	#msgbx4 .modal-body {
		padding: 40px 36px;
	}
	.modal-bx-title {
		margin-bottom: 18px;
		font-size: 14px;
	}
	#msgbx1 .modal-body p, 
	#msgbx2 .modal-body p, 
	#msgbx3 .modal-body p, 
	#msgbx4 .modal-body p {
		font-size: 13px;
		line-height: 19px;
	}
	#reserved_tbl .modal-body-inner form input, 
	#reserved_tbl .modal-body-inner form select, 
	#reserved_tbl .modal-body-inner form textarea, 
	.reservation-form form input, 
	.reservation-form form select, 
	.reservation-form form textarea {
		width: 100% !important;
		max-width: 100%;
		height: 34px;
		padding: 5px 8px;
	}

}



/*----- max-width 439 -----*/
@media(max-width: 479px){
	#reserved_tbl .modal-body,
	.modal-body {
		width: 290px;
		padding: 30px;
	}

	.modal-bx-title {
		font-size: 14px;
	}
	
	.file-upload span {
		 margin-left: 0px; 
	}
	#barmen .modal-body {
		width: 300px;
		padding: 35px 30px;
	}
	#barmen .modal-body {
		font-size: 13px;
		line-height: 17px;
	}
	#reserved_tbl .modal-bx-title {
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 25px;
	}
	#reserved_tbl button.close {
		top: 15px !important;
		right: 15px !important;
	}
	.reservation-form form label, 
	#reserved_tbl .modal-body-inner form label {
		font-size: 11px;
	}

}




