
/*header2*/
.header2{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header2 .icon-circle{
	color: #fff;
}
.header2 .hdr-tels a{
	color: #fff;
}
.header2 .ht-social:before{
	content: "";
    top: 2px;
    left: 0;
    background: url(../images/divider2.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
	
}
.header2 .ht-my-account a{
	color: #fff;
}
.header2 .main-nav ul li a{
	color: #fff;
}
.header2 .ht-my-account:before{
	content: "";
    left: 0;
    top: 0;
    position: absolute;
    background: url(../images/divider2.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
}
.header2 ul#hdr-language a{
	color: #fff;
}
.header2 ul#hdr-language > li.menu-item-has-children > a:after{
	border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent
}
/*end header 2 */
.page-banner-img img{
	width: 100%;
}
.room-preview{
	margin: 65px 0px 40px;
}
.room-single-title h4{
	margin: 0px;
	line-height: 30px;
}

.room-preview .room-prices ul{
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;

}
.room-preview .room-prices ul li{
	display: inline-block;
	vertical-align: top;
}
.room-preview .room-prices ul li:first-child{
	margin-right: 25px;
}
.room-preview .room-prices ul li h3{
	margin: 0px;
	line-height: 22px;
}
.room-preview .room-prices ul li h3 span{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'HelveticaNeueCyrBold';
}

.room-preview .room-prices ul li h3 small{
	font-size: 17px;
	font-family: 'HelveticaNeueCyr-Roman';
	color: #333333;
	display: inline-block;
	vertical-align: baseline;
	margin-left: 13px
}
.room-preview .room-prices ul li .book-now-btn{
	display: block;
	width: 160px;
	height: 35px;
	background: #377976;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-family: 'HelveticaNeueCyrBold';
	text-align: center;
	padding: 10px;
}
.room-preview .room-prices ul li{
	text-align: center;
}
.room-preview .room-prices ul li .off-own-prc{
	display: inline-block;
	border-bottom: 2px solid #377976;
	color: #377976;
	margin-top:13px;
}
.room-view-content{
	margin-top: 5px;
	
}
.room-view-content h4{
	color: #333333;
	font-family: 'HelveticaNeueCyr-Roman';
	margin: 0;
	margin-bottom: 25px;
}
.room-view-content p{
	font-size: 19px;
	color: #666666;
	line-height: 25px;
}


.room-galary{
	margin-top: 0px;
}
.room-galary ul li{
	width: 20%;
}
.room-galary ul li img{
	width: 100%;
}
.room-galary ul li a{
	margin: 0px 2px;
}
.room-galary ul li a img{
	width: 100%!important;

}
.room-galary ul li a img{
	min-height: auto!important;
}

.room-features{
	margin-bottom: 30px;
}
.room-section-title h4{
	margin-bottom: 27px;
}
.feature-itm{
	font-size: 17px;
	color: #6d6d6d;
	margin: 13px 0px;
	overflow: hidden;
	min-height: 48px;
	position: relative;
	padding-left: 67px;
}
.feature-itm img{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 0;
	top: 0;
}
.feature-itm p{
	display: inline-block;
	vertical-align: top;
	padding-top: 7px;
	font-size: 15px;
	margin-bottom: 0px;
}
.standard-amenities{
	padding-top: 33px;
	border-top: 1px solid #bababa;
}

.standard-amenities .feature-itm img{
	margin-right: 15px;
}
.standard-amenities .feature-itm p{
	padding-top: 3px;
}
.standard-amenities .feature-items .col-xs-6:nth-child(3n+4){
	clear: initial;
}
.standard-amenities .feature-items .col-xs-6:nth-child(4n+5) {
    clear: left;
}
.standard-amenities .feature-items .feature-itm{
	cursor: pointer;
}
#standard_amenities_modal ul li{
	text-align: left;
}

#standard_amenities_modal .modal-dialog {
    max-width: 700px;
    width: 100%;
    padding: 0 20px;
}
