/*----- max-width 1199px -----*/
@media(max-width: 1500px){
	.crr-cn-c1{
		max-width: 532px;
	}
	.crr-cn-c1 ul li{
		padding-left: 40px;
	}
	.cr-right-cn{
		padding: 30px 30px; 
	}	
}
/*----- max-width 1199px -----*/
@media(max-width: 1399px){
	.orofferslider .slick-prev {
	    left: -8px;
	}
	.orofferslider .slick-next {
	    right: -8px;
	}
	.hm-item{
		height: 400px;
	}
}
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	/**
	Header
	*/
	.logo a{
		max-width: 150px;
	}
	.main-nav > ul > li{
		padding: 0 10px 10px;
	}
	.main-nav{
		margin-top: 16px;
	}
	.hrdgap {
    	height: 132px;
	}
	.ftr-proposal-col {
		padding-left: 15px;
	}
	.ftr-proposal-title {
		font-size: 13px;
		line-height: 15px;
	}
	.ftr-contact-lft{
		padding-right: 10px;
	}
	.hclientslider{
		padding-left: 50px;
		padding-right: 50px;
	}
	.home-slider-cn-in{
		padding: 0 80px;
	}
	.cr-left-scroller{
		max-width: 430px;
		padding-right: 30px;
	}
	.cr-right-cn {
	    padding: 20px 15px;
	}
	.crr-cn-c1 ul li {
	    padding-left: 35px;
	}
	.crr-cn-c2{
		position: static;
		margin-top: 15px;
	}
	.all-jobs-vac{
		margin: 0;
	}
	.room-features2 ul li:nth-child(2n+3){
		clear: left;
	}
	.relactions-content {
		padding-right: 40px;
	}
	.relactions-content-inner {
		max-width: 100%;
		padding-left: 30px;
		margin-top: 20px;
	}
	
	.relactions-content-inner h3 {
		line-height: 37px;
		font-size: 29px;
		margin-top: 15px;
		margin-bottom: 20px;
	}
	.indoor-swimming-content {
		padding-left: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.indoor-swimming-content-in h3 {
		line-height: 36px;
		margin-bottom: 20px;
		font-size: 28px;
	}
	.orofferslider .myofferitem .sld-caption h5 {
		font-size: 20px;
	}
	.orofferslider .myofferitem .sld-caption{
		padding-right: 20px;
	}
	.orofferslider .myofferitem .sld-caption {
		line-height: 19px;
		font-size: 14px;
	}
	.lobby-section .indoor-swimming-content {
		padding-right: 20px;
	}
	.myprev .slick-prev{
		left: 20px;
	}

	.mynext .slick-next{
		right: 20px;
	}
	.tripadvisorreview{
		padding-left: 0;
		padding-right: 0;
	}
	.ofr-sec-title h3{
		font-size: 27px;
		line-height: 30px;
	}
	.indoor-swimming{
		margin-bottom: 40px;
	}
	.indoor-swimming-content{
	}
	.indoor-swimming-content-in{
		font-size: 15px;
		line-height: 19px;
		padding-right: 20px;
	}
	.lobby-section .indoor-swimming-content {
		padding-left: 40px;
		padding-top: 25px;
	}
	.indoor-swimming-content-in h3 {
		line-height: 30px;
		margin-bottom: 15px;
		font-size: 25px;
		
	}
	.lobby-section .indoor-swimming-content-in h3{
		margin-top: 15px;
	}
	.rst-content-inner p br{
		display: none;
	}
	
	.returent-bannar {
		padding: 95px 30px;
	}
	

}

/*----- max-width 991px -----*/
@media(max-width: 991px){
	.float-left-sm{
		float: left !important;
	}
	.float-right-sm{
		float: right !important;
	}
	.show-sm{
		display: block!important;
	}
	.hide-sm,.not-sm{
		display: none!important;
	}
	.hdr-btm{
		position: relative;
	}
	.navtoggle {
		display: block;
		height: 30px;
		width: 55px;
		float: right;
		position: relative;
		margin-top: 18px;
		cursor: pointer;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;		
	}
	.navtoggle .line{
		display: block;
		float: left;
		clear: both;
		height: 4px;
		width: 100%;
		background: #3a7976;
		position: absolute;
		-ms-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	.navtoggle .line1{
		top: 0;
		right: 0;
	}
	.navtoggle .line2{
		top: 50%;
		margin-top: -2px;
	}
	.navtoggle .line3{
		width: 50%;
		right: 0;
		bottom: 0;
	}
	.navtoggle.menu-expend .line1{
		width: 50%;
	}
	.navtoggle.menu-expend .line3{
		width: 100%;
	}
	.logo a {
		max-width: 190px;
	}

	.hrdsmall .navtoggle{
		height: 25px;
		width: 40px;
		margin-top: 10px;
	}
	header.hrdsmall .main-nav {
		margin-top: 0;
	}
	nav.sm-main-nav{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 100%;
		z-index: 999999999;
		background: #3a7976;
		border-top: 1px solid #c8c8c8;
		margin-top: 0;
		transition: initial;
		text-align: center;
	}
	nav.sm-main-nav > ul {
		float: none;
	}
	nav.sm-main-nav ul li {
		display: block;
		font-size: 14px;
		line-height: 16px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0px!important;
		border-top: 1px solid #cedddd;
	}
	nav.sm-main-nav ul li:last-child{
		border-bottom: 1px solid #cedddd;
	}
	nav.sm-main-nav ul li a {
	    font-family: 'HelveticaNeueCyr-Roman';
	    font-size: 30px;
	    text-transform: uppercase;
	    padding-top: 28px;
	    padding-bottom: 27px;
	    line-height: 35px;
	    color: #fff;
	    display: block;
	}
	.ftr-contact-col {
		padding: 70px 0 0 20px;
		width: 60%;
	}
	.ftr-map-col {
		width: 40%;
	}
	.ftr-proposal-col {
		padding-left: 20px;
		padding-right: 15px;
		width: 50%;
	}
	.ftr-contact-lft {
		width: 45%;
	}
	.ftr-contact-col h2 {
		font-size: 35px;
	}

	.adsrow > *:nth-child(3n+4){
		clear: initial;
	}
	.adsrow > *:nth-child(2n+3){
		clear: initial;
	}
	.ositemleft{
		max-width: 320px;
	}
	.cr-right, .cr-left{
		width: 100%;
	}
	.cr-left, .crrs-item{
		height: initial!important;
	}
	.crsectitle{
		text-align: center;
	    background: #3a7976 url(../images/crlp.png) no-repeat;
	    padding: 40px 15px 35px;
	}
	.crsectitle h2{
		margin-top: 0;
		color: #fff;
	}
	.crsectitle span {
	    font-family: 'HelveticaNeueCyr-Light';
	    font-size: 14px;
	    display: block;
	    color: #e3cecc;
	}
	.cr-left-scroller{
		max-width: 460px;
		float: none;
		margin-left: auto;
		margin-right: auto;
		padding-right: 0;
	}
	.cr-left-scroller .slick-list{
		background: #841f12;
	}
	.cr-left-scroller ul{
		padding: 0 15px;
	}
	.cr-left-scroller ul li{
		background: #2b635f;
		padding: 15px;
		border: 0!important;
	}
	.cr-left-scroller ul li.slick-current{
		border: 0!important;
	}
	.cr-left-in{
		padding: 30px 0;
	}
	.cr-left-scroller .slick-prev:before, .cr-left-scroller .slick-next:before{
		display: none;
	}
	.cr-left-scroller .slick-prev, .cr-left-scroller .slick-next{
		font-size: 25px;
		color: #fff;
	}
	.cr-left-scroller ul.slick-dots{
		padding: 0;
		margin: 0;
		list-style: none;
		width: initial;
	}
	.cr-right-cn{
		padding: 0;
	}
	.crr-cn-c1, .crr-cn-c2{
		padding: 20px;
	}
	.crr-cn-c1, .crr-cn-c2{
		max-width: 100%;
		width: 100%;
	}
	.crr-cn-c1 ul li{
		width: 33.33%;
		line-height: 1.2;
	}
	.crr-cn-c2{
		text-align: center;
		background: #fff;
		margin: 0;
	}
	.crr-cn-c2 a {
	    background: transparent;
	    font-family: 'HelveticaNeueCyr-Light';
	    font-size: 35px;
	    color: #174641;
	    padding: 3px 0 0 0;
	}
	.fwvcn{
		min-height: 500px;
	}
	.date-check-booking{
		border-top: transparent;
		margin-top: 20px;
		box-shadow: 0 0px 30px rgba(159, 159, 159, 0.55);
	}
	nav.sm-main-nav ul li:hover a{
		color: #b8b6b6;
	}
	.main-nav > ul > li:hover{
		border-color: #b8b6b6;
	}
	.eqp-holder li {
		width: 50%;
	}
	.eqp-holder li {
		width: 50%;
	}

	.eqp-holder li:nth-child(2n+3), .feature-items .col-xs-6:nth-child(2n+3), .kitchenboxes .col-sm-6:nth-child(2n+3){
		clear: left;
	}
	.eqp-holder li:nth-child(3n+4), .feature-items .col-xs-6:nth-child(3n+4), .kitchenboxes .col-sm-6:nth-child(3n+4){
	    clear: initial;
	}
	.relactions-content-inner {

		margin-top: 0;
	}
	.relactions-content-inner h3 {
		line-height: 30px;
		font-size: 23px;
		margin-top: 14px;
		margin-bottom: 18px;
	}
	.relactions-content-inner{
		font-size: 13px;
		line-height: 19px;
	}
	.rel-btn {
		margin-top: 15px;
	}
	.indoor-swimming-content-in{
		font-size: 13px;
		line-height: 19px;
	}
	.indoor-swimming-content-in h3 {
		line-height: 24px;
		margin-bottom: 14px;
		font-size: 21px;
	}
	.indoor-swimming-content {
		padding-left: 25px;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 20px;
		width: 100%;
	}
	.indoor-swimming-content-in{
		max-width: 100%;
		font-size: 16px;
		line-height: 24px;
	}
	.indoor-swimming-content-in h3{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.indoor-swimming-content-in ul {
		margin-top: 15px;
	}
	.indoor-swimming-img {
		width: 100%;
	}
	.indoor-swimming-img img{
		width: 100%;
	}

	.taslider-wrap {
		max-width: 600px;
	}
	.taslider-in {
		padding: 30px 40px 30px;
		text-align: center;
	}
	.lobby-section .indoor-swimming-content-in{
		max-width: 100%;	
		padding-right: 0;

	}
	.lobby-section .indoor-swimming-img {
		width: 100%;
		max-width: 100%;
	}
	.lobby-section .indoor-swimming-content {
		width: 100%;
	}
	.relactions-content{
		width: 100%;
		max-width: 100%;
	}
	.relactions-img{
		width: 100%;
		max-width: 100%;
	}
	.relactions-img img{
		width: 100%;
		max-width: 100%;
	}
	.relactions-content {
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 40px;
	}
	.relactions-content-inner{
		padding: 0px;
		width: 100%;
	}
	.indoor-swimming {
		margin-bottom: 0;
	}
	.crsectitle span{
		color: #ffffff;
	}
	.catrfresh-btn {
	    margin-left: 50px;
	}	
	.dt-room-inner {
	    padding-left: 0;
	}
}

/*----- max-width 767px -----*/
@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.ht-social {
		padding-left: 0;
	}
	.ht-social:before{
		content: none;
	}
	.home-slider-cn-in {
	    padding: 0 50px;
	}
	.home-slider-cn .first-col, .home-slider-cn .secend-col {
		width: 145px;
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
	.home-slider-cn .first-col{
		margin-bottom: 40px;
	}
	.home-slider-cn .third-col {
		float: none;
		position: absolute;
		right: initial;
		left: 50%;
		top: 100%;
		transform: initial;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.ftr-contact-lft {
		width: 100%;
		padding-right: 0;
    	border-top: 1px solid #b0b0b0;
    	border-bottom: 1px solid #b0b0b0;
		background: #fff;
		margin-top: 0;
		padding:  20px 15px 40px;
		float: none;
	}
	.icon-circle {
		display: inline-block;
		vertical-align: baseline;
		float: none;
	}
	.icon-circle:last-child{
		margin-right: 0;
	}
	.ftr-proposal-col{
		float: none;
		width: 100%;
		border-left: 0;
	}
	.ftrl-grp{
		float: none;
		text-align: center;
		padding: 50px 0 40px;
	}
	.ftr-proposal-col a {
		display: inline-block;
		vertical-align: baseline;
	}
	.ftr-proposal-col .group-item {
		margin-top: 15px;
		display: inline-block;
		vertical-align: baseline;
		margin-left: 5px;
		margin-right: 5px;
	}
	.ftr-map-col{
		width: 100%;
		float: none;
	}
	.copyright{
		float: none;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.home-slider-cn h3 {
	    padding-right: 0;
	    padding-left: 0;
	    font-size: 42px;
	    line-height: 1.3;
	    margin-bottom: 0;
	}
	.hpromo {
		padding-top: 230px;
	}
	.home-slider-cn{
		bottom: -100px;
	}
	.home-slider-cn .hscn-form {
		width: 100%;
		padding-right: 0;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 350px;
		bottom: -50px;
	}
	.home-slider-cn .hscn-form-in label{
		margin-bottom: 5px;
	}	
	.home-slider-cn .hscn-form-in {
		padding: 25px 0 80px;
	}
	.home-slider-cn .third-col {
		margin-top: -45px;
	}
	.home-slider-cn .stdsubmit {
		padding: 24px 40px;
	}
	.home-slider-cn #quickbook .ui-datepicker {
		width: 100%;
	}
	.home-slider-cn #quickbook .checkindate{
	    top: 120px;
	    width: 100%;		
	}
	.home-slider-cn #quickbook .checkoutdate {
	    top: 240px;
	    width: 100%;
	    left: 0;
	}
	.hpromo h1,.hclientsection h2, h2{
		font-size: 35px;
		line-height: 1.2;
	}
	.hpromo p br{
		display: none;
	}
	.hclientsection{
		background-size: cover!important;
	}
	.hpromoslider-wrap,.hps-item{
		padding: 0;
	}
	.hpromoslider {
	    box-shadow: initial;
	    margin-left: -15px;
	    margin-right: -15px;
	    margin-bottom: 0!important;
	}
	.hclientsection h2 {
	    margin-top: 10px;
	    margin-bottom: 30px;
	}
	.additionalservie h2{
		margin-bottom: 40px;
	}
	.ositemleft,.ositemright{
		max-width: 365px;
		margin-left: auto;
		margin-right: auto;
		display: table;
		float: none;
	}
	.offerslider ul li .ositemcn{
		width: initial;
	}
	.ositemright{
		padding: 0 15px;
		margin-top: 30px;
		text-align: center;
	}
	.ositemright h5, .ositemright p{
		text-align: left;
	}
	.crsectitle{
		padding: 30px 15px 25px;
	}
	.cr-left-scroller ul {
	    padding: 0px 40px;
	}
	.cr-left-scroller .slick-prev{ left: 10px  } 
	.cr-left-scroller .slick-next{
		right: 10px;
	}
	.crls-item-thumb{
		width: 35%;
	}
	.crls-item-cn {
	    margin-left: 5%;
	    float: left;
	    width: 60%;
	}
	.crls-item-cn h4{
		font-size: 20px;
	}
	.crls-item-cn p{
		font-size: 14px;
		margin-bottom: 0;
	}
	.fwvcn{
		min-height: 400px;
	}
	.tripadvisorreview .slick-prev:before, .tripadvisorreview .slick-next:before{
		display: none;
	}
	.offerslider .slick-prev, .offerslider .slick-next,
	.tripadvisorreview .slick-prev, .tripadvisorreview .slick-next{
	    background: #9b2e1c;
	    color: #fff;
	}
	.offerslider .slick-prev i, .offerslider .slick-next i, .tripadvisorreview .slick-prev i, .tripadvisorreview .slick-next i{
		color: #fff;
		font-size: 18px;
	}
	.tripadvisorreview {
	    background: #fff;
	    padding-top: 25px;
	}
	
	.taslider-in{
		padding: 30px 50px 35px;
	}
	.tas-item{
		padding: 0 40px;
	}
	.taslider-in h2{
		margin-bottom: 20px;
	}
	.additionalservie{
		padding-bottom: 10px;
	}
	.ftr-contact-lft h2 {
	    font-size: 42px;
	    margin-bottom: 30px;
	}
	.job-vacancies .jobs-item{
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	header.hrdresponsive {
	    box-shadow: 0px 5px 15px rgba(159, 159, 159, 0.45);
	}

	nav.sm-main-nav ul li a {
	    font-size: 22px;
	    padding-top: 22px;
	    padding-bottom: 21px;
	    line-height: 25px;
	}
	.main-nav-header {
	    padding: 25px 30px;
	}
	ul#hdr-language a {
		padding-right: 0px;
	}
	ul#hdr-language > li.menu-item-has-children > a {
		padding-left: 10px;
	}
	ul#hdr-language > li.menu-item-has-children > a::after {
		right: 0;
	}
	.offerslider .slick-prev,
	.offerslider .slick-next {
		top: 28%;
	}
	.offerslider {
		max-width: 500px;
	}
	.jobs-item,.meet-room-eqp-hdr,.room-preview,.room-section-title{
		text-align: center;
	}
	.room-galary ul li {
		width: 100%;
		margin-bottom: 10px;
	}	
	.room-galary ul{
		max-width: 350px;
		margin-right: auto;
		margin-left: auto;
	}
	.room-preview .room-prices ul {
		float: none;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.relactions {
		padding: 230px 0px 85px;
	}
	.offerslider .slick-prev, .offerslider .slick-next, .tripadvisorreview .slick-prev, .tripadvisorreview .slick-next{
		background: #3b7976;
		color: #fff;
	}
	.offerslider .slick-next:hover,
	.offerslider .slick-next:hover{
		background: #23615e;
	}
	
	.indoor-swimming-content-in h3 {
		line-height: 34px;
		margin-bottom: 24px;
		font-size: 28px;
	}
	.lobby-section .indoor-swimming-content {
		padding-left: 30px;
		padding-right: 30px;
	}
	.tripadvisorreview {
		padding: 0px 0px 85px;
	}
	.lobby-section{
		margin-bottom: 0px;
		margin-top: 40px;
	}
	.taslider-inner{
		margin-left: -15px;
		margin-right: -15px;
	}
	.taslider-wrap{
		max-width: 100%;
	}
	.adsislider{
		margin-bottom: 20px;
	}
	.asitem {
		padding: 51px 10px 10px 10px;
	}
	
	.home-slider-cn h3 {
		font-size: 38px;
	}
	.returent-bannar {
		padding: 50px 30px;
	}
	.returent-bannar-title h2 {
		line-height: 40px;
		font-size: 30px;
	}
	.relactions-content-inner {
		font-size: 15px;
		line-height: 23px;
	}
	.relactions-content-inner h3 {
		line-height: 30px;
		font-size: 27px;
		margin-top: 15px;
		margin-bottom: 21px;
	}
	.rel-btn {
		margin-top: 25px;
	}
	.relactions-content{
		text-align: center;
	}
	.job-vacancies .jobs-item {
	    text-align: left;
	    margin-bottom: 50px;
	    min-height: inherit;
	}
	.returent-bannar{
		background: none;
		padding-bottom: 0;
	}
	.returent-bannar-title h2{
		color: #333333;
		margin-bottom: 0;
	}
	.resturent-content{
		margin-top: 30px;
	}
	.catrfresh-btn{
		margin-left: 0;
	}


}


/*----- max-width 639 -----*/
@media(max-width: 639px){
	.crr-cn-c1 ul li{
		width: 50%;
	}
	.crr-cn-c1 ul li:nth-child(2n+3){
		clear: left;
	}
	.crr-cn-c1, .crr-cn-c2 {
	    padding: 20px 15px;
	}
	.fwvcn{
		min-height: 300px;
	}
	.eqp-holder li:nth-child(2n+3){
		clear: left!important;
	}




}
@media(max-width: 600px){
	.date-check-booking {
	    padding: 0;
	}
	.date-check-booking .hscn-form-in{
		padding: 20px 0;
		position: relative;
	}	
	.date-check-booking .hscn-form-in .third-col {
	    margin: 0;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	}
	.date-check-booking .hscn-form-in .stdsubmit {
	    font-family: 'HelveticaNeueCyrBold';
	    font-size: 16px;
	    text-transform: uppercase;
	    color: #fff;
	    padding: 16px 30px;
	    position: absolute;
	    right: -15px;
	    top: 0;
	    bottom: 0;
	}
	.date-check-booking .hscn-form-in .date {
	    font-size: 40px;
	    line-height: 1;
	}
	.date-check-booking .hscn-form-in .month {
	    font-size: 14px;
	}
	.date-check-booking .hscn-form-in .indate:after{
		font-size: 18px;
		line-height: 22px;
	}
	.date-check-booking .first-col, .date-check-booking .secend-col{
		width: 110px;
	}
	.date-check-booking .secend-col{
		margin-left: 30px;
	}
	.date-check-booking .checkoutdate {
	    left: 150px;
	}
}


/*----- max-width 439 -----*/
@media(max-width: 479px){
	.home-slider-cn-in {
	    padding: 0 15px;
	}
	.hpromoslider .slick-dots{
		bottom: 15px;
	}
	.cr-left-scroller ul li{
		padding: 10px;
	}
	.crls-item-cn h4{
		font-size: 18px;
	}
	.crls-item-cn p{
		font-size: 10px;
		margin-bottom: 0;
	}
	.offerslider{
		padding-left: 40px;
		padding-right: 40px;
	}
	.offerslider ul li {
	    float: left;
	    padding: 30px 15px;
	}
	.ositemright h5, .ositemright p {
	    text-align: center;
	}
	.hclientslider,.taslider-in{
	    padding-left: 40px;
	    padding-right: 40px;		
	}
	.tas-item {
	    padding: 0 10px;
	}
	.home-slider-cn h3{
		font-size: 24px !important;
	}
	.hpromo h1, .hclientsection h2, h2 {
	    font-size: 30px;
	    line-height: 1.2;
	}
	.hclientsection h2{
		margin-bottom: 15px;
	}
	.additionalservie h2, .videosection h2{
		padding-bottom: 20px;
	}
	.crr-cn-c2 a{
		font-size: 30px;
	}
	.ftr-contact-lft h2 {
	    font-size: 38px;
	    margin-bottom: 30px;
	}
	.copyright-text, .dev-by {
		width: 100%;
	    font-size: 12px;
	    display: block;
	    clear: both;
	    text-align: center;
	}
	.copyright-text{
		margin-bottom: 10px;
	}
	.banner-contact-info .col-xs-4{
		width: 100%;
		margin-bottom: 30px;
	}
	.bacancy-page-banner{
		padding-bottom: 50px;
	}
	.date-check-booking .secend-col {
	    margin-left: 30px;
	}
	.date-check-booking .hscn-form-in .stdsubmit{
		    font-size: 14px;
		    padding: 16px 20px;
	}
	.date-check-booking .checkoutdate {
	    left: 50px;
	}
	.main-nav-header {
	    padding: 20px 25px;
	}
	nav.sm-main-nav ul li a {
	    font-size: 18px;
	    padding-top: 18px;
	    padding-bottom: 17px;
	    line-height: 20px;
	}
	.mnh-close{
		margin-top: 11px;
	}
	.offerslider .slick-prev, 
	.offerslider .slick-next {
		top: 26%;
	}
	.room-features2 ul li {
		width: 100%;
	}
	.eqp-holder li, .feature-items .col-xs-6{
		width: 100%;
	}

}

@media(max-width: 424px){
	.date-check-booking .hscn-form-in .month {
	    font-size: 12px;
	}
	.date-check-booking .hscn-form-in .date {
	    font-size: 24px;
	    line-height: 1;
	}
	.date-check-booking .first-col, .date-check-booking .secend-col {
	    width: 80px;
	}
	.date-check-booking .hscn-form-in .month {
	    font-size: 12px;
	}
	.date-check-booking .hscn-form-in .stdsubmit{
		font-size: 12px;
		padding: 16px 15px;
	}
	.date-check-booking .hscn-form-in{
		padding: 15px 0;
	}	
	.date-check-booking .checkoutdate {
	    left: 25px;
	}
	.offerslider .slick-prev, .offerslider .slick-next {
		top: 24%;
	}


}
/*----- max-width 369 -----*/
@media(max-width: 359px){
	.offerslider .slick-prev, .offerslider .slick-next {
		top: 22%;
	}

}